[Desktop Entry]
Version=1.0
Name=KeePass
Exec=mono @datadir@/keepass/KeePass.exe
Icon= @datadir@/pixmaps/KeePass_icon.png
Type=Application
Terminal=false
GenericName=Cross-platform password manager
GenericName[fr]=Gestionnaire de mot de passe multi-plateforme
Categories=System;
StartupNotify=true
