*~
*.tar.gz
*.tar.bz2
*.tgz
*.zip
*.rpm
*.bak
*.log
doc
*/.directory
mediawiki/CategoryTree
mediawiki/Cite
mediawiki/Math
mediawiki/Mpdf
mediawiki/PdfExport
mediawiki/SyntaxHighlight_GeSHi
mediawiki/mediawiki-*
tree
kpovmodeler/kpovmodeler-1.1.3
shinken-plugins/nagios?plugins
shinken-plugins/nagios?plugins-snmp
shinken-plugins/check_mysql_health*
shinken-plugins/check_postgres*
shinken-plugins/check_mem.pl
shinken-plugins/check_netint.pl
shinken-plugins/shinken-plugins*
shinken-plugins/extra
povray-include-extra/*.pov
povray-include-extra/*.inc*
povray-include-extra/*.c
povray-include-extra/*.txt
povray-include-extra/*.include
*/a/
*/b/
*/result/*
Nagstamon
fracplanet/fracplanet-hi*.png
*.pyc
channel.xml
*-swp
result-el6
povray-include-extra/*.png
