*~
*.tar.gz
*.tar.bz2
*.tgz
*.zip
*.rpm
*.bak
*.log
doc
.directory
mediawiki/CategoryTree
mediawiki/Cite
mediawiki/Math
mediawiki/Mpdf
mediawiki/PdfExport
mediawiki/SyntaxHighlight_GeSHi
mediawiki/mediawiki-1.20.2
shinken-fc19.txt
tree
shinken-1.2.4
kpovmodeler/kpovmodeler-1.1.3
nagios-plugins-shinken/check_mem.pl
nagios-plugins-shinken/check_netint.pl
nagios-plugins-snmp
/povray/povray-3.7.0.RC6

povray-include-extra/*.pov
povray-include-extra/*.inc
povray-include-extra/*.c
