
.mylayer {
	position:absolute;
	z-index:1;
	background-color: #D1D4B5;
	layer-background-color: #ACD5A4;
	border: 1px none #000000;
	top: 30px;
	left: 30px;
	/*width: 740;*/
	right:30px;
	}

body {
	font-family: "Times New Roman", Times, serif;
	font-size: 11pt;
	color: #000000;
	background-color: #d1d4b5;
	text-align: justify;
	position: relative;
	margin-left:10px;
	margin-right:10px;
	text-indent: 20px
	}
 a:link { color:#005500; text-decoration:none;}
 a:visited { color:#336633; text-decoration:none;}
 a:hover { color:#005500; text-decoration:none; background-color:#f3f6d7;}
 a:active { color:#007700; background-color:#f3f6d7;}
p {
	margin-left:10px;
	margin-right:10px;
	text-indent: 20px
	}
ul{
	list-style-image:url(bullet06.gif);
	margin-left:10px;
	margin-right:30px;
	text-indent: 0px
	}
li {
	margin-bottom: 5px;
	}
dl{
	margin-left:10px;
	margin-right:30px;
	text-indent: 20px
	}
dt{font-weight: bold; font-style:italic;}
dd{margin-left:20px;}
img{
	border-width: 3px;
	border-color: #b1b495;
	border-style: inset;
	}
pre{
	font-family: Courier, serif;
	font-size: 11pt;
	font-weight: bold;
	margin-left:30px;
	margin-right:30px;
	padding:10px;
	text-indent: 0px;
	background-color:#f3f6d7;
	}
h1 {
	font-family: "Bookman", "Times New Roman", Times, serif;
	font-size: 18pt;
	font-weight: bold;
	color: #FFFFFF;
	text-align: center;
	background-color: #009900;
	margin-top:0px;
	margin-bottom:0px;
	}
h2 {
	font-family: "Times New Roman", Times, serif;
	font-size: 14pt;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #009900 ;
	text-indent:30px
	margin-top:0px;
	margin-bottom:0px;
	}
h3 {
	font-family: "Times New Roman", Times, serif;
	font-size: 12pt;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #009900;
	text-indent:30px;
	margin-top:0px;
	margin-bottom:0px;
	}
	
code {
	font-family: Courier, serif;
	background-color: #bbbbbb;
	font-weight: bold;
	}
