[Unit]
Description=The OSSEC HIDS Server
After=network.target
After=syslog.target

[Service]
Type=forking
ExecStart=/var/ossec/bin/ossec-control start

[Install]
WantedBy=multi-user.target
