[Desktop Entry]
Version=1.0
Name=Arbaro
Exec=arbaro-gui
Icon=arbaro
Type=Application
GenericName=Tree generator
GenericName[fr]=Générateur d'arbre
Terminal=false
Categories=Graphics;3DGraphics;
StartupNotify=true
