[Unit]
Description=Online editor providing collaborative editing in really real-time
After=network.target
After=syslog.target

[Service]
Type=simple
User=etherpad
EnvironmentFile=/etc/sysconfig/etherpad-lite
WorkingDirectory=/var/lib/etherpad-lite
ExecStart=/usr/bin/node src/node/server.js

[Install]
WantedBy=multi-user.target
