[Unit]
Description=Online editor providing collaborative editing in really real-time
After=network.target
After=syslog.target

[Service]
Type=simple
User=etherpad
EnvironmentFile=/etc/sysconfig/etherpad-lite
WorkingDirectory=/usr/share/etherpad-lite
ExecStart=/usr/bin/node node_modules/ep_etherpad-lite/node/server.js

[Install]
WantedBy=multi-user.target
