[Unit]
Description=knockd is a port-knock server
After=network.target

[Service]
Type=simple
EnvironmentFile=/etc/sysconfig/knockd
ExecStart=/usr/sbin/knockd -d $OPTIONS

[Install]
WantedBy=multi-user.target
